<div class="container">
  <br>
  <div class="card">
    <div class="card-header badge-primary"><h3>Mes topos :</h3></div>
    <div class="card-body">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <table class="table table-responsive">
              <table class="table table-hover table-condensed table-striped">
                <thead class="table-display">
                <tr>
                  <th>Nom du topo</th>
                  <th>Department</th>
                  <th>Date de parution</th>
                  <th>Disponible</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let topo of topos">
                  <td>{{topo.name}}</td>
                  <td>{{topo.department.id}} -  {{topo.department.name}}</td>
                  <td>{{topo.releaseDate | date:"dd/MM/yyyy"}}</td>
                  <td>{{topo.avaible}}</td>

                    <div class="btn-group"  role="group">
                    <td><button type="button" class="btn btn-primary" (click)="sendIdTopo(topo.id)">Voir</button></td>
                    <td><button type="button" class="btn btn-info"  data-toggle="modal" data-target="#userToShow" *ngIf="topo.avaible == 'TOPO EMPRUNTE'"(click)="sendUsertoShowShare(topo.id)">Voir les coordonnées</button></td>
                    <td><button type="button" class="btn btn-info"  *ngIf=" topo.avaible == 'ATTENTE DE VALIDATION'" (click)="shareTopo(topo.id)">Partager le topo</button></td>
                    <td><button type="button" class="btn btn-danger"   *ngIf=" topo.avaible == 'TOPO EMPRUNTE'"  (click)="updateTopo(topo.id)">Annuler le partage</button></td>
                  </div>

                </tr>
                </tbody>
              </table>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <div class="card">
    <div class="card-header badge-primary"><h3> Prêt en attente de validation:</h3></div>
    <div class="card-body">
      <div class="card-deck">
        <div class="card">
          <div class="card-body" *ngIf="toposShare">
            <table class="table table-responsive">
              <table class="table table-hover table-condensed table-striped">
                <thead class="table-display">
                <tr>
                  <th>Nom du topo</th>
                  <th>Department</th>
                  <th>Date de parution</th>
                  <th>Disponible</th>
                  <th></th>
                </tr>
                </thead>
                <tbody  *ngFor="let topo of toposShare">
                <tr  *ngIf=" topo.avaible == 'ATTENTE DE VALIDATION'">
                  <td>{{topo.name}}</td>
                  <td>{{topo.department.id}} -  {{topo.department.name}}</td>
                  <td>{{topo.releaseDate | date:"dd/MM/yyyy"}}</td>
                  <td>{{topo.avaible}}</td>
                  <td><button type="button" class="btn btn-info" (click)="updateTopo(topo.id)">Annuler la requête</button></td>
                </tr>
                </tbody>
              </table>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>


  <div class="card">
    <div class="card-header badge-primary"><h3>Prêt d'un utilisateur:</h3></div>
    <div class="card-body">
      <div class="card-deck">
        <div class="card">
          <div class="card-body" *ngIf="toposShare">
            <table class="table table-responsive">
              <table class="table table-hover table-condensed table-striped">
                <thead class="table-display">
                <tr>
                  <th>Nom du topo</th>
                  <th>Department</th>
                  <th>Date de parution</th>
                  <th>Disponible</th>
                  <th></th>
                  <th></th>
                </tr>
                </thead>
                <tbody  *ngFor="let topo of toposShare">
                <tr  *ngIf=" topo.avaible == 'TOPO EMPRUNTE'">
                  <td>{{topo.name}}</td>
                  <td>{{topo.department.id}} -  {{topo.department.name}}</td>
                  <td>{{topo.releaseDate | date:"dd/MM/yyyy"}}</td>
                  <td>{{topo.avaible}}</td>
                  <td><button type="button" class="btn btn-info" (click)="updateTopo(topo.id)">Annuler le partage</button></td>
                  <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#userToShow" (click)="sendUsertoShow(topo.user)">Voir les coordonnées du propriétaire</button></td>
                </tr>
                </tbody>
              </table>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






<div *ngIf="usertoShow" class="modal fade" id="userToShow" tabindex="-1" role="dialog" aria-labelledby="userToShow" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <app-view-userprofil [usertoShow]="usertoShow"></app-view-userprofil>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>


