<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="well-block">
        <div class="well-title">


          <h1> Mes informations : </h1><br>


          <div class="row">
            <div class="col-md-4">
              <label for="firstName">Prénom :<i class="mandatory-star"></i></label>
              <div class="d-md-table-row">
                <input class="form-control noselect"  id="firstName" name="firstName" readonly type="text" value="{{user.firstName}}" />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="LastName">Nom :<i class="mandatory-star"></i></label>
                <div class="d-md-table-row">
                  <input class="form-control noselect"  id="lastName" name="lastName"  readonly type="text" value="{{user.lastName}}" />
                </div>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-md-4">
              <div class="form-group">
                <label for="Gender">Genre :<i class="mandatory-star"></i></label>
                <div class="position-relative">
                  <input class="form-control noselect"  id="gender" name="gender" readonly type="text" value="{{user.gender}}" />
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="Age">Age :<i class="mandatory-star"></i></label>
                <div class="position-relative">
                  <input class="form-control noselect"  id="age" name="age" readonly type="text" value="{{user.age}}" />
                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-4">
              <div class="form-group">
                <label for="PhoneNumber">Numéro de téléphone :<i class="mandatory-star"></i></label>
                <div class="position-relative">
                  <input class="form-control noselect"  id="phoneNumber" name="phoneNumber"  type="text" value="{{user.phoneNumber}}" />
                </div>
              </div>
            </div>


            <div class="col-md-4">
              <div class="form-group">
                <label for="Email">Email :<i class="mandatory-star"></i></label>
                <div class="position-relative">
                  <input class="form-control noselect"  id="email" name="email"  type="text" value="{{user.email}}" />
                </div>
              </div>
            </div>

          </div>


          <div class="form-group">
            <label for="Pseudo">Pseudo:<i class="mandatory-star"></i></label>
            <div class="position-relative">
              <input class="form-control noselect"  id="pseudo" name="pseudo"  type="text" value="{{user.pseudo}}" />
            </div>

          </div>
          <div class="form-group">
            <label for="Password">Password :<i class="mandatory-star"></i></label>
            <div class="position-relative">
              <input class="form-control noselect"  id="password" name="password"  type="text" value="{{user.password}}" />
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
