<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="well-block">
        <div class="well-title">


          <div class="row">
            <div class="col-md-6"> <h1>{{topo.name}}</h1> </div>
            <div class="col-md-6"> <h1>{{topo.department.name}}</h1> </div>
          </div>

          <br>
          <h2>Informations générales</h2>
          <br>
          <div class="row">

            <div class="col-md-4">
              <label>Nom du site :</label>
              <p>test</p>
            </div>

            <div class="col-md-4">
              <label>Ville la plus proche :</label>
              <p>Ville</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <label>Description du site :</label>
              <p>Description du site....</p>
            </div>
          </div>

          <br>
          <h4> Accès au site :</h4>
          <br>

          <div class="row">
            <div class="col-md-2">
              <label> Accès en voiture :</label>
              <p>boolean</p>
            </div>

            <div class="col-md-2">
              <label> Parking :</label>
              <p>boolean</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8">
              <label> Description de l'accès au site :</label>
              <p> description accès....</p>
            </div>
          </div>

          <br>
          <h4> Ravitaillement et soins :</h4>
          <br>

          <div class="row">
            <div class="col-md-4">
              <label>Hopital le plus proche :</label>
              <p>hopital</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8">
              <label>Ravitaillement :</label>
              <p>Ravitaillement....</p>
            </div>
          </div>

          <br>
          <h2> Secteurs de grimpe :</h2>
          <br>

          <div class="row">
            <div class="col-md-6">
              <label>Nom :</label>
              <p>Nom</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Nombre de voie :</label>
              <p>Nombre de voie </p>
            </div>

            <div class="col-md-2">
              <label>Orientation :</label>
              <p>Orientation</p>
            </div>

            <div class="col-md-2  ">
              <label>Hauteur estimée :</label>
              <p>Hauteur estimée</p>
            </div>

          </div>

          <div class="row">
            <div class="col-md-8">
              <label>Description :</label>
              <p>Description</p>
            </div>
          </div>


            <p>Liste des voies.....</p>


            <div class="row">
              <div class="col-md-4">
                <p><strong>bouton ajouter secteur</strong></p>
              </div>
              <div class="col-md-4">
                <p><strong>bouton ajouter voie</strong></p>
              </div>
            </div>




          </div>
        </div>
      </div>
    </div>
  </div>


