<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="well-block">
        <div class="well-title">

          <div class="card">
            <div class="card-header">
              <h3>Mon compte :</h3>
            </div>
            <div class="card-body">
              <h5 class="card-title">Mes informations :</h5>
              <div class="card-deck">

                <div class="card">
                  <div class="card-body">

                    <div class="row">
                      <div class="col-md-3">
                        <h5 class="card-title">Nom:</h5>
                        <p class="card-text">{{user.lastName}}</p>
                      </div>

                      <div class="col-md-3">
                        <h5 class="card-title">Prénom:</h5>
                        <p class="card-text">{{user.firstName}}</p>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-3">
                        <h5 class="card-title">Sexe :</h5>
                        <p class="card-text">{{user.gender}}</p>
                      </div>

                      <div class="col-md-3">
                        <h5 class="card-title">Date de naissance : </h5>
                        <p class="card-text">{{user.birthDate | date:'dd/MM/yyyy'}}</p>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-3">
                        <h5 class="card-title">Pseudo :</h5>
                        <p class="card-text">{{user.pseudo}}</p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="card-body">
              <h5 class="card-title">Mes coordonnées :</h5>
              <div class="card-deck">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Téléphone :</h5>
                    <p class="card-text">{{user.phoneNumber}}</p>
                    <br>
                    <h5 class="card-title">Email :</h5> <span></span>
                    <p class="card-text">{{user.email}}</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <br>

          <div class="card">
            <div class="card-header">
              <h3> Ma liste de  topos :</h3>
              <div class="card-body">
              <table class="table">
                <tr>
                  <th>Nom du topo</th>
                  <th>Numéro du département</th>
                  <th>Nom du département</th>
                </tr>
                <tr *ngFor="let topo of topos">
                  <td>{{topo.name}}</td>
                  <td>{{topo.department.name}}</td>
                  <td>{{topo.department.id}}</td>
                </tr>
              </table>
            </div>
            </div>
          </div>




        </div>
      </div>
    </div>
  </div>
</div>


