

    <nav class="navbar navbar-fixed-top navbar-dark bg-dark">
      <div class="align-baseline">
        <a class="navbar-brand">TrueSpot</a>
        <ul class="nav navbar-dark" routerLinkActive="active" a>
          <li class="nav-item"><a class="nav-link" routerLink="/createUser">Créer un compte</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/createTopo">Créer un topo</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/createSpot">Créer un spot</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/createArea">Créer un secteur</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/createRoad">Créer une voie</a></li>
        </ul>
      </div>
    </nav>




<router-outlet></router-outlet>
