<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="well-block">
        <div class="well-title">

          <div class="panel panel-primary">
            <div class="panel-heading"><h3>Créer un secteur :</h3></div>
            <div class="panel-body">

              <form #f="ngForm" [formGroup]="forms" (ngSubmit)="saveArea()">

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group"
                         [class.has-success]="forms.get('name').valid"
                         [class.has-error]="forms.get('name').invalid && forms.get('name').touched">
                      <label class="control-label">Nom:</label>
                      <input class="form-control"
                             type="text"
                             name="name"
                             placeholder="Nom du secteur"
                             formControlName="name"
                             required minlength="2">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group"
                         [class.has-success]="forms.get('description').valid"
                         [class.has-error]="forms.get('description').invalid && forms.get('description').touched">
                      <label class="control-label">Description:</label>
                      <input class="form-control input-md"
                             type="text"
                             name="description"
                             placeholder="Description du secteur"
                             formControlName="description"
                             required
                             minlength="2">
                    </div>
                  </div>


                  <div class="col-md-4">
                    <div class="form-group"
                         [class.has-success]="forms.get('orientation').valid"
                         [class.has-error]="forms.get('orientation').invalid && forms.get('orientation').touched">
                      <label for="orientation" class="control-label">Orientation du secteur:</label>
                      <input required
                             id="orientation"
                             name="orientation"
                             type="text"
                             class="form-control"
                             formControlName="orientation"
                             placeholder="Nord, Nord-est">
                    </div>
                  </div>


                  <div class="col-md-4">
                    <div class="form-group"
                         [class.has-success]="forms.get('height').valid"
                         [class.has-error]="forms.get('height').invalid && forms.get('height').touched">
                      <label class="control-label">Hauteur estimée:</label>
                      <input class="form-control input-md"
                             type="number"
                             name="height"
                             placeholder="Hauteur estimée"
                             formControlName="height"
                             autocapitalize="on"
                             spellcheck="on"
                             required
                             min="0"
                             minlength="10">
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <button
                        type="submit"
                        class="btn btn-primary"[disabled]="forms.invalid">Valider
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
