<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="well-block">
        <div class="well-title">

          <div class="panel panel-primary">
            <div class="panel-heading"><h3>Mettre à jour un topo :</h3></div>
            <div class="panel-body">

              <form #f="ngForm" [formGroup]="forms" (ngSubmit)="updateTopo()">

                <div class="row">
                  <div class="col-md-2">
                    <div class="form-group">
                      <label class="control-label">Nom:</label>
                      <input class="form-control"
                             type="text"
                             name="name"
                             placeholder="Nom du Topo"
                             formControlName="name"
                             required minlength="2">
                    </div>
                  </div>

                  <div class="col-md-2">
                    <label> Choisissez un département : </label>
                    <label>
                      <select name="department" class="form-control select"  formControlName="department">
                        <option *ngFor="let department of departments" [ngValue]="department" >
                          {{ department.id }}  {{department.name }}
                        </option>
                      </select>
                    </label>
                  </div>
                </div>
                <br>
                <h2>Informations générales</h2><br>
                <br>
                <div class="row">

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label">Ville la plus proche:</label>
                      <input class="form-control"
                             type="text"
                             name="nearestCity"
                             placeholder="Nom de la ville la plus proche"
                             formControlName="nearestCity"
                             required minlength="2">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label class="control-label">Description du site:</label>
                      <textarea class="form-control input-md"
                                type="text"
                                rows="5"
                                name="description"
                                placeholder="Une rapide description du site"
                                formControlName="description"
                                required
                                minlength="2"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <br>
                <h2>Accès au site</h2><br>
                <br>
                <div class="row">
                  <div class="col-md-2">
                    <label> Accès en voiture :</label>
                    <div class="form-group">
                      <div class="form-group">
                        <select class="browser-default custom-select" formControlName="carAccess">
                          <option [value]="true">Oui</option>
                          <option [value]="false">Non</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <label> Parking :</label>
                    <div class="form-group">
                      <div class="form-group">
                        <select class="browser-default custom-select" formControlName="carParking">
                          <option [value]="true">Oui</option>
                          <option [value]="false">Non</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label class="control-label">Description l'accès au site:</label>
                      <textarea class="form-control input-md"
                                type="text"
                                rows="5"
                                name="accessDescription"
                                placeholder="Une rapide description de l'accès au site..."
                                formControlName="accessDescription"
                                required
                                minlength="2"
                      ></textarea>
                    </div>
                  </div>
                </div>
               <br>
                <h2> Ravitaillement et soins</h2><br>
                <br>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label">Nom de l'Hopital le plus proche:</label>
                      <input class="form-control"
                             type="text"
                             name="nearestHospital"
                             placeholder="Nom du l'hopital"
                             formControlName="nearestHospital"
                             required minlength="2">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label class="control-label">Lieu de ravitaillement :</label>
                      <textarea class="form-control input-md"
                                type="text"
                                rows="10"
                                name="supplyComment"
                                placeholder="exemple : Intermarché du coin : adresse...."
                                formControlName="supplyComment"
                                required
                                minlength="2"
                      ></textarea>
                    </div>
                  </div>
                </div>

                <br>
                <br>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <button
                        type="submit"
                        class="btn btn-primary">Mettre à jour le topo
                      </button>
                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
